*{
    margin: 0;
    padding: 0;
    font-size: 12px;
    box-sizing: border-box;
}
@font-face {
    font-family: mui-global-iconfont;
    src: url(HTTPS://at.alicdn.com/t/font_1401963178_8135476.eot);
    src: url(HTTPS://at.alicdn.com/t/font_1401963178_8135476.eot?#iefix) format('embedded-opentype'), url(HTTPS://at.alicdn.com/t/font_1401963178_8135476.woff) format('woff'), url(HTTPS://at.alicdn.com/t/font_1401963178_8135476.ttf) format('truetype'), url(HTTPS://at.alicdn.com/t/font_1401963178_8135476.svg#iconfont) format('svg')
}
@font-face {
    font-family: fpIconFont;
    src: url(HTTPS://at.alicdn.com/t/font_eu7qkdb0zt3jif6r.eot);
    src: url(HTTPS://at.alicdn.com/t/font_eu7qkdb0zt3jif6r.eot?#iefix) format('embedded-opentype'), url(HTTPS://at.alicdn.com/t/font_eu7qkdb0zt3jif6r.woff) format('woff'), url(HTTPS://at.alicdn.com/t/font_eu7qkdb0zt3jif6r.ttf) format('truetype'), url(HTTPS://at.alicdn.com/t/font_eu7qkdb0zt3jif6r.svg#fpIconFont) format('svg')
}
@font-face {
    font-family: fpNewIconFont;
    src: url(HTTPS://at.alicdn.com/t/font_lo8q60v4spi1wcdi.eot);
    src: url(HTTPS://at.alicdn.com/t/font_lo8q60v4spi1wcdi.eot?#iefix) format('embedded-opentype'), url(HTTPS://at.alicdn.com/t/font_lo8q60v4spi1wcdi.woff) format('woff'), url(HTTPS://at.alicdn.com/t/font_lo8q60v4spi1wcdi.ttf) format('truetype'), url(HTTPS://at.alicdn.com/t/font_lo8q60v4spi1wcdi.svg#iconfont) format('svg')
}
.fp-iconfont{
    font-family: fpIconFont !important;
    opacity: .5;
    margin-left: 14px;
    margin-right: 4px;
    height: 31px;
    line-height: 31px;
    font-size: 16px;
}
.mui-global-iconfont{
    font-family:mui-global-iconfont!important;
    font-size:12px;
    font-style:normal;
    height: 3rem;
    line-height: 2rem;
}
header{
    height: 7em;
    width: 100em;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
header>img{
    height: 2.3em;
    width: 15em;
    margin-left: 4.5em;
}
.middle{
    position: relative;
    height: 50em;
    background-color: rgb(221, 39, 38);
}
.m_middle{
    height: 100%;
    margin: auto;
    width: 100em;
    display: flex;
    align-items: center;
    background: url(https://gw.alicdn.com/tfs/TB1kcCBSpXXXXarapXXXXXXXXXX-1190-600.png);
}
.m_middle>a{
    width: 50em;
    height: 100%;
    display: inline-block;
}
.login{
    width: 35em;
    height: 34em;
    right: 10em;
    position: relative;
    margin-left: 30em;
    background-color: white;
}
.login_header{
    margin: 2.5em 0 0 1.5em;
}
.login_header>span{
    color: rgb(58, 58, 58);
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    height: 1.6em;
    margin: 0.2em;
    cursor: pointer;
}
.login_middle{
    margin: 1.5em auto;
    width: 24em;
}
.login_middle>label>div{
    height:3.5em;
    margin-bottom: 2em;
    display: flex;
    align-items: center;
    border:1px solid rgb(230,230,230)
}
.login_middle>label>div:hover{
    border: 1px solid red;
}
.login_middle span{
    display: inline-block;
    height: 3.3em;
    width: 3.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(216, 213, 213);
}
.login_middle span>svg{
    height: 2em;
    width: 2em;
}
.people .select{
    appearance: none;
    background-image: url("https://gw.alicdn.com/tfs/TB1.8ugw.T1gK0jSZFrXXcNCXXa-200-200.png");
    background-size: 2rem;
    background-repeat: no-repeat;
    background-position:left 15px center;
}
.login_middle input{
    height: 100%;
    width: 100%;
    font-size: 14px;
    border: none;
    padding: 0.5em;
    outline: none;
}
.middle .submit{
    width: calc(100% - 3em);
    margin: 0 auto;
    height: 3em;
    border-radius: 3px;
    text-align: center;
    font-size: 15px;
    line-height: 3em;
    color: white;
    background-color: rgba(252, 5, 25, 0.863);
}
.middle_footer{
    display: flex;
    justify-content: flex-end;
    width: 21.5em;
    margin: 1.5em auto;
}
.middle_footer > span{
    font-size: 5px;
    margin: 0 0.3em;
    color: rgb(116, 115, 113);
}
.top_right,
#div2{
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.login2{
    width: 35em;
    height: 34em;
    right: 10em;
    position: relative;
    margin-left: 30em;
    background-color: white;
    display: none;
}
.login2>p{
    margin: 2em;
    font-size: 16px;
    font-weight: bold;
    color: rgb(50, 58, 61);
}
.login2_middle{
    height:15em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}
.login2_middle>img{
    height: 90%;
    box-shadow: 0 0 3px rgb(218, 214, 208);
}
.login2>.middle_bottom{
    height: 3em;
    width: 16em;
    margin: 0 auto;
    display: flex;
} 
.login2>.middle_bottom>svg{
    margin-right: 0.5em;
}
.login2>.middle_bottom>p{
    margin: 0;
}
.login2>.middle_bottom span{
    color: rgb(243, 70, 70);
    padding: 0.5em;
}
#div1 .safe{
    position: absolute;
    border: 1px solid #f3d995;
    background: #fefcee;
    right: 4em;
    top: 1em;
    width: 8em;
    height: 2em;
    line-height: 2em;
    text-align: center;
}

#div1 .safe .safe_a{
    position: absolute;
    top: 0.55em;
    right: -0.45em;
    height: 0.8em;
    width: 0.8em;
    background-color: #fefcee;
    transform: rotate(45deg);
    border-right: 1px solid #f3d995;
    border-top: 1px solid #f3d995;
}
.footer{
    margin: 60px 30px;
}
a{
    color: rgb(46, 44, 44);
    text-decoration: none;
}
p{   
    margin: 20px 0;
}
.footer1>a,
.footer2>a{
    margin-right: 10px;
}
.footer3{
    color: rgb(143, 141, 141);
}